.rdg-joy-dark {
    --rdg-color: #ddd;
    --rdg-border-color: #444;
    --rdg-summary-border-color: #555;
    --rdg-background-color: var(--joy-palette-background-body);
    --rdg-header-background-color: var(--joy-palette-background-surface);
    --rdg-row-hover-background-color: hsl(0deg 0% 9%);
    --rdg-row-selected-background-color: hsl(207deg 76% 42%);
    --rdg-row-selected-hover-background-color: hsl(207deg 76% 38%);
    --rdg-checkbox-color: hsl(207deg 100% 79%);
    --rdg-checkbox-focus-color: hsl(207deg 100% 89%);
    --rdg-checkbox-disabled-border-color: #000;
    --rdg-checkbox-disabled-background-color: #333;
}

.rdg-joy-light {
    --rdg-color: #ddd;
    --rdg-border-color: #444;
    --rdg-summary-border-color: #555;
    --rdg-background-color: var(--joy-palette-background-body);
    --rdg-header-background-color: var(--joy-palette-background-surface);
    --rdg-row-hover-background-color: hsl(0deg 0% 9%);
    --rdg-row-selected-background-color: hsl(207deg 76% 42%);
    --rdg-row-selected-hover-background-color: hsl(207deg 76% 38%);
    --rdg-checkbox-color: hsl(207deg 100% 79%);
    --rdg-checkbox-focus-color: hsl(207deg 100% 89%);
    --rdg-checkbox-disabled-border-color: #000;
    --rdg-checkbox-disabled-background-color: #333;
}